<ion-header>
  <ion-toolbar class="menu-top">
    <ion-tab-button tab="inicio" slot="start">
      <ion-icon autoHide="false" name="arrow-back-outline"></ion-icon>

      <ion-title>Perfil</ion-title>
    </ion-tab-button>
  </ion-toolbar>
  <ion-toolbar>
    <ion-tab-button slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-tab-button>

    <ion-title>Perfil</ion-title>
  </ion-toolbar>

</ion-header>
<!---------------------------------------------------------->
<!--******************************************************-->




<!---------------------------------------------------------->
<!--******************************************************-->
<ion-content>

  <div class="grupo-img">
    <div class="img-perfil">
      <ion-thumbnail>
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/demos/api/thumbnail/thumbnail.svg" />
      </ion-thumbnail>
    </div>

    <div class="img-perfil">
      <ion-thumbnail>
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/demos/api/thumbnail/thumbnail.svg" />
      </ion-thumbnail>
    </div>

    <div class="img-perfil">
      <ion-thumbnail>
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/demos/api/thumbnail/thumbnail.svg" />
      </ion-thumbnail>
    </div>
  </div>


  <ion-textarea class="Titulo-1" position="center"><ion-icon name="construct-outline"></ion-icon>Administrar Perfiles</ion-textarea>


  <div class="boton">
    <ion-button color="light" expand="block"><ion-icon name="help-circle-outline"></ion-icon>Notificaciones</ion-button>
  </div>

  <div>
    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/demos/api/thumbnail/thumbnail.svg" />
      </ion-thumbnail>
      <ion-label>Estreno de Serie1</ion-label>
    </ion-item>
  </div>

  <div>
    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/demos/api/thumbnail/thumbnail.svg" />
      </ion-thumbnail>
      <ion-label>Estreno de Serie2</ion-label>
    </ion-item>
  </div>

  <div class="boton">
    <ion-button tab="inicio" slot="start" color="light" expand="block">
      <ion-icon  name="list-circle-outline"></ion-icon>
      <p slot="start">Mi lista</p>
    </ion-button>
  </div>

  <div class="boton">
    <ion-button href="ayuda" color="light" expand="block"><ion-icon name="cog-outline"></ion-icon>Configuración de app</ion-button>
  </div>

  <div class="boton">
    <ion-button color="light" expand="block"><ion-icon name="person-outline"></ion-icon>Cuenta</ion-button>
  </div>

  <div class="boton">
    <ion-button color="light" expand="block"><ion-icon name="help-circle-outline"></ion-icon>Ayuda</ion-button>
  </div>

  <ion-textarea class="Titulo-1" position="center"><ion-icon name="construct-outline"></ion-icon>Cerrar sesión</ion-textarea>

</ion-content>
