<ion-header>
  <ion-toolbar>
    <ion-title>Nuevo y popular</ion-title>
    <div>
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-icon name="person-circle-outline"></ion-icon>
    </div>
  </ion-toolbar>
  <ion-chip>Proximamente</ion-chip>
  <ion-chip [outline]="true">Lo mas cool</ion-chip>
  <!--
  <ion-chip [outline]="true">Las 10 series mas populares</ion-chip>
  <ion-chip [outline]="true">Las 10 peliculas mas populare</ion-chip>
  -->
</ion-header>
<ion-content>
<p>TITULO SELECCIONADO</p>


<!-- TARJETA 1 -->
<ion-card>
  <ion-card-header>
    <ion-card-title>Sept. 28</ion-card-title>
    <img src="https://occ-0-3881-3851.1.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABSdguIE7GrniopRblmPuTNn4Yxbnjo0vOR9IjO2aOWvv-uRCldboQk04yjreTmezEKycvLKDUPmG3cbcCjOaEdvNRflg7Sg3XwKXe5finpK3RUOdpqSHhx5XY2Y4lVL3gV26zQzhNN5gCknUIdlcYk9iCgFG8tF79uzM9-fXxINEDHCS0j1mHr_YiYp48DByX-p48mTRQJy9kKIrSBBJw9PkQd7CuMk4ld-rYgyQe3TmcMZzXcqO8AQwPOr6AJUQG82D.webp?r=473" alt="">
    <ion-card-title>Chesapeake Shores</ion-card-title>
    <ion-icon size="large" name="notifications-outline"></ion-icon>
    <ion-icon size="large" name="information-circle-outline"></ion-icon>
    <ion-card-subtitle color="dark">Estreno el 28 de septiembre</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>

    Keep close to Nature's heart... and break clear away, once in awhile,
    and climb a mountain or spend a week in the woods. Wash your spirit clean.
  </ion-card-content>
</ion-card>


<!-- TARJETA 2 -->
<ion-card>
  <ion-card-header>
    <ion-card-title>Sept. 30</ion-card-title>
    <img src="https://occ-0-3881-3851.1.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABQZwsTq61r3QOCW3YyxKk6pCW4KvgVghlduZneh3k4sGpVgletmLySGbAmelKMtROrVn8Hsv-bu-80DikPWcfpLfrYCU-zc4hRg.webp?r=8e7" alt="">
    <ion-card-title>Spider-Man De Regreso a Casa</ion-card-title>
    <ion-icon name="notifications-outline"></ion-icon>
    <ion-icon name="information-circle-outline"></ion-icon>
    <ion-card-subtitle color="dark">Estreno el 28 de septiembre</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>

    Keep close to Nature's heart... and break clear away, once in awhile,
    and climb a mountain or spend a week in the woods. Wash your spirit clean.
  </ion-card-content>
</ion-card>


<ion-card>
  <ion-card-header>
    <ion-card-title>Oct. 05</ion-card-title>
    <img src="https://occ-0-3881-3851.1.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABYXznDVTIFSAnEN5TRh230349AZ_Dac0uEEYWSrNqno1alTW5IhfTRB6BPFZz2vLhKq_9x6rv59F3f5A72hM1D4R1kihw8Z4VCA.webp?r=acb" alt="">
    <ion-card-title>Avatar: La leyenda de Aang</ion-card-title>
    <ion-icon name="notifications-outline"></ion-icon>
    <ion-icon name="information-circle-outline"></ion-icon>
    <ion-card-subtitle color="dark">Estreno el 28 de septiembre</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>

    Keep close to Nature's heart... and break clear away, once in awhile,
    and climb a mountain or spend a week in the woods. Wash your spirit clean.
  </ion-card-content>
</ion-card>


</ion-content>
