<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio">
      <ion-icon name="home"></ion-icon>
      <ion-label>inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil">
      <ion-icon name="game-controller-outline"></ion-icon>
      <ion-label>Juegos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="nuevoypopular">
      <ion-icon name="film-outline"></ion-icon>
      <ion-label>Nuevo y popular</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="configuracion">
      <ion-icon name="happy-outline"></ion-icon>
      <ion-label>Para reir</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="configuracion">
      <ion-icon name="arrow-down-circle-outline"></ion-icon>
      <ion-label>Descargas</ion-label>
    </ion-tab-button>



  </ion-tab-bar>
</ion-tabs>


