<ion-header>
  <ion-toolbar>

  <ion-tab-button tab="inicio" slot="start">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </ion-tab-button>

  <ion-tab-button tab="inicio" slot="secondary">
    <ion-icon name="person-circle-outline"></ion-icon>
  </ion-tab-button>

  </ion-toolbar>
</ion-header>


<ion-content>

<ion-searchbar color="light" ></ion-searchbar>

<div class="Titulo-1">
  <p>Los mas buscados</p>
</div>


<ion-button class="recomendacion" color="light" expand="full">
  <ion-icon slot="start" name="star"></ion-icon>
  <p slot="start">PELICULA O SERIE</p>
  <ion-icon slot="end" name="play-circle-outline"></ion-icon>
</ion-button>

<ion-button class="recomendacion" color="light" expand="full">
  <ion-icon slot="start" name="star"></ion-icon>
  <p slot="start">PELICULA O SERIE</p>
  <ion-icon slot="end" name="play-circle-outline"></ion-icon>
</ion-button>

<ion-button class="recomendacion" color="light" expand="full">
  <ion-icon slot="start" name="star"></ion-icon>
  <p slot="start">PELICULA O SERIE</p>
  <ion-icon slot="end" name="play-circle-outline"></ion-icon>
</ion-button>

<ion-button class="recomendacion" color="light" expand="full">
  <ion-icon slot="start" name="star"></ion-icon>
  <p slot="start">PELICULA O SERIE</p>
  <ion-icon slot="end" name="play-circle-outline"></ion-icon>
</ion-button>

<ion-button class="recomendacion" color="light" expand="full">
  <ion-icon slot="start" name="star"></ion-icon>
  <p slot="start">PELICULA O SERIE</p>
  <ion-icon slot="end" name="play-circle-outline"></ion-icon>
</ion-button>
</ion-content>
