<ion-header>
  <ion-toolbar>
    <ion-tab-button tab="buscar" slot="start">
      <ion-icon name="search-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="perfil" slot="secondary">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-tab-button>
  </ion-toolbar>


</ion-header>
<ion-content>

<!---------------------------------------------------------------------------------------------->
<!--##########################################################################################-->

  <div class="img-header">
    <img src="https://image.tmdb.org/t/p/original/u6xUFPssUcBuQfgJOsRNfzqRXkc.jpg" alt="">
  </div>

<div class="submenu-header">
  <ion-icon name="add-outline">Mi lista</ion-icon>
  <ion-button>
    <ion-icon name="play-outline"></ion-icon>
    Reproducir
  </ion-button>
  <ion-icon name="add-outline">Información</ion-icon>
</div>

  <div class="card-contenido">
    <img src="https://images-na.ssl-images-amazon.com/images/I/81KjBiKs-AL.jpg" alt="">
    <ion-button fill="clear"></ion-button>
  </div>

  <div class="card-contenido">
    <img src="https://images-na.ssl-images-amazon.com/images/I/81KjBiKs-AL.jpg" alt="">
    <ion-button fill="clear"></ion-button>
  </div>

  <div class="card-contenido">
    <img src="https://images-na.ssl-images-amazon.com/images/I/81KjBiKs-AL.jpg" alt="">
    <ion-button fill="clear"></ion-button>
  </div>

  <div class="card-contenido">
    <img src="https://images-na.ssl-images-amazon.com/images/I/81KjBiKs-AL.jpg" alt="">
    <ion-button fill="clear"></ion-button>
  </div>

</ion-content>
